.receipt {
  border-radius: 10%;
  box-shadow: 1px 6px 14px 5px #000000;
  width: 14rem;
  height: 16.5rem;
  min-width: 12rem;
  margin: 1rem;
  text-align: center;
  position: relative;
  background-color: white;
}

.receipt__img {
  margin: auto;
  margin-top: 10px;
  width: 13rem;
  height: 11rem;
  border-radius: 5%;
  cursor: pointer;
}

.date {
  height: 10%;
  text-align: center;
  padding-top: 1rem;
}

.para {
  height: 10%;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1rem;
}
