@value makerRed from '../../common/colors.css';

.form {
  display: flex;
}

.inputs {
  width: calc(100% / 6);
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.required {
  width: calc(100% / 6);
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid makerRed;
  background-color: makerRed;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.showModal {
  transition: opacity 0.5s ease-in-out;
}

.none {
  opacity: 0;
}
