@value makerGreen, makerWhite, makerBlack, makerYellow from '../../common/colors.css';

.header {
  width: 100%;
  padding: 0.5em;
  background-color: makerYellow;
  position: relative;
  display: flex;
}

.logo {
  width: 3em;
  margin-left: 2rem;
  margin-right: 1rem;
}

.title {
  margin: 1rem;
  color: makerBlack;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
  margin-top: 1rem;
}
